* {
    margin: 0;
    padding: 0;
}
.calendar_header{
    position: relative;
}
.prev-month, .next-month{
    cursor: pointer;
    position: absolute;
    top: 1px;
    background: #fff;
    /* width: 50px; */
    /* height: 54px; */
    /* padding: 8px 0 8px 10px; */
}
.prev-month{ left: 1px; }
.next-month{ right: 1px; }
.month-year h3{
    font-size: 40px;
    margin-top: 10px;
    border: 1px solid #ddd;
    margin-bottom: 0;
    padding: 5px 0;
    background: #eee;
}
.currentMonth{background: rgba(0,0,0,0.04);}
.container {
    margin-top: 10px;
}

th {
    background: #faffe0;
    border-bottom: 4px double #ddd !important;
    font-size: 20px;
    height: 30px;
    text-align: center;
    font-weight: 700;
}

td {
    font-size: 20px;
    background: rgba(0,0,0,0.02);
    height: 100px;
}
td.empty{background: #fff;}

.today {
    font-weight: bold;
    color: #fff;
    background-color: gray;
}

th:nth-of-type(7), td:nth-of-type(7) {
    font-weight: bold;
}

th:nth-of-type(1), td:nth-of-type(1) {
    font-weight: bold;
}