@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
*{
    margin: 0%;
    padding: 0%;
}
.calander-main {
    overflow-x: hidden;
}





body #__next {
    width: 100%;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif ;
    font-size: 17px;
    line-height: 1.66666667;
    color: #000;
}
.calander-wrapper {
    width: 100%;
    border: 7px solid #f5f5f5;
    
}
.calander-header {
    display: flex;
    background: #26c6da;
    color: #fff;
    padding: 10px;
    text-align: center;
    width:100%;
    margin: 0  
}
.main-calander {
    width: auto;
}

.calander-prev {
    text-align: left;
    width:100%;
    padding: 10px;
}
.calander-next {
    text-align: right;
    width:100%;
    padding: 10px;
}

.table-td-item {
    padding: 2px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: -1px;
    height:100px;
}
.table-thead-item {
    background-color:white;
    height: 100px;
}
.th-item {
    padding: 2px;
    text-align: center;
    width: 100px;
}
.main-table-wrapper {
    width: 100%
}
/* .calander-body td:nth-child(odd) {
    background-color: #777
} */
.main-table-wrapper, .calander-body, .calander-tr , .th-item {
     border:  #ddd solid 2px;
     /* font-weight: 700; */
     position: relative;    
}
.day-td-item {
    border-left: #ddd solid 2px;
}
.day-tithi {
    height: 35%;
    /* top: 7px; */
    line-height: 13px;
    text-align: left;
    font-weight: 500;
    font-size: 9px;
}

.table-day {
    color: black;
    font-size: 32px;
    font-weight: 700;
    font-family: Roboto Slab,sans-serif;
    
}
.image-next-month,.image-prev-month {
    width: 39px;
    background: white;
    border-radius: 20px;
}
.weekday {
    color: #f50057;
    font-family: tahoma,sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
/*  day info css */
.current-date-wrapper {
    background-color: #fff;
    width: 100%;
    border:7px solid #f5f5f5;
}
.current-date-header-wrapper {
    width: 100%;
    padding: 10px;
    
}
.day-close > a {
    font-size: 1.1em;
    font-weight: 700;
    float: right;
    color: #777;
}
.current-date-detail {
    border-bottom: #ddd solid 1px;
}
.day-detail {
    font-size: 21px;
    font-family: Roboto Slab,Times New Roman,Times,serif; 
}
.calander-current-day-number {
    background-color: #f50057;
    text-align: center;
    width: 100%;
    color: white;
    /* height: 210px */
}
/* day details csss */

.day-details-wrapper {
    /* border: 7px solid #f5f5f5; */
}

.day-item {
    background-color: #f50057;
    width: 100%;
    height: auto;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-family:  Roboto Slab,sans-serif;
}
.day-weekday {
    text-align: center;
    width: 100%;
    padding: 5px;
    font-size: 1.2em;
    
    
}
.day-date {
    width: 100%;
    font-size: 67px;
    
    padding: 0px; 
    text-align: center;
    
}

.day-year,.day-month {
    font-size: 20px; 
}
.day-row-items  {
    /* border-bottom: #ddd solid 1px; */
    padding: 5px;
    font-size: 14px;
}
.row-heading  {
    font-size: 14px;
    font-weight: bold;

}
.day-details-main {
    width: 100%;
   height: auto;
   padding: 3px;
    border:white 10px solid;
}
.day-main-heading {
    border-bottom: #ddd solid 1px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding:10px;
}
.day-panchang {
    width: 100%;
    height: auto;
    padding: 10px;
    border:2px solid #f5f5f5;
}