@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
.calander-main {
    overflow-x: hidden;
    
}
/* .container {
    background: #26c6da
} */
.body {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 1.66666667;
    color: #000;
}
.calander-wrapper {
    width: 100%;
    border: solid blue 3px;
}
.calander-header {
    background: #26c6da;
    color: #fff;
    padding: 10px;
    text-align: center;
    width:100%;
    margin: 0
    
}
.main-table-wrapper {
     width: 100%;
    border: 7px solid #d60f0f;
}
.day-item {
    background-color: #f8f3b4;
    display: block;
    padding: 2px;
    
    width: 100%;

}