@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
*{
    margin: 0%;
    padding: 0%;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;  
}
body #__next {
    width: 100%;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif ;
    font-size: 17px;
    line-height: 1.66666667;
    color: #000;
}


.panchanga_main {
    overflow-x: hidden;
    width:100%;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.66666667;
}

.header {
    padding: 30px;
    text-align: center;
    font-size: 3.5em;
    font-weight: 700;
}
   
.row-wrapper {
    background: white;
    // border: 1px solid #dcdcdc;
    padding-top: 20px;
    padding-bottom: 20px;
}
.datecall
{
    text-align: right;
    font-size:16px;
}
.name {
    background: white;
    padding-top: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}
.whiteDiv {
    // padding-top:20px; 
    background: white; 
    // padding-bottom: 20px;   
    border-top: 1px solid #e5e5e5;
    padding: 10px 0;
}
.rowTitle {
    font-weight: 700;
    text-align: right;
    padding-right: 4px;
}
.sub-row {
    padding-top: 10px;
}

/*********************google location**********************/
.select-place{
    z-index: 10;
    position: absolute;
    z-index: 10;
    opacity: 0.8;
    // position: absolute;
    // position: "absolute";
    // z-index: "10";
    // opacity: 0.5;

}
/**************************************form css****************************/

.panchanga-form {
    width:100%;
    background: #f5f5f5;  
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.each-item {
    padding: 6px;
}
.date-wrapper {
    display: inline;
    width:100%;   
}
.query-item {
    width:100%;
    display: flex;
}
.location-item {
    margin-top: 5px;
    margin-left: 5px;
    width:300px;
    padding-right: 20px;
    padding-left: 5px;
    height: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.form-heading {
    padding: 6px;
    width: 100%;
    text-align: right;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.select-items {
    width:100px;
    padding-right: 20px;
    padding-left: 5px;
   
    height: 35px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.select-item {
    margin: 5px;
}

.panchanga {
   background: #e5e5e5
}

.dateWrapper {
    width: 100%
    
}
.date-span-item {
    text-align: right;
    padding-top:10px; 
}
.location-details span {
    padding: 5px;

}
.geo-items {
    display: flex;
    width: 100%
}
.geo-each-item  {
    width: 150px;
}
.text-long-pad {
    width:85%
}

.get-panchang {
    text-align: center;
    margin: 10px;   
    cursor: pointer;
    text-transform: uppercase;
   
}
.get-panchang input {
    text-transform: uppercase;
    margin-bottom: 10px;
}



/**************************** calander css *********************************************/
.calander-main {
    overflow-x: hidden;
}



.calander-wrapper {
    width: 100%;
    border: 7px solid #f5f5f5;
    
}
.calander-header {
    display: flex;
    background: #26c6da;
    color: #fff;
    padding: 10px;
    text-align: center;
    width:100%;
    margin: 0  
}

.upPad-calander-header {
    background-color: #f5f5f5;;
    width: 100%;
    height:auto;
    padding: 30px;
}
.upPad-select {
    font-size: 12px;
    font-weight: bold;
    padding-left: 9px;
}
.upPad-width {
    width: 100%;
}


.main-calander {
    width: auto;
}

.calander-prev {
    text-align: left;
    width:100%;
    padding: 10px;
}
.calander-next {
    text-align: right;
    width:100%;
    padding: 10px;
}

.table-td-item {
    padding: 2px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: -1px;
    // height:120px;
}
.table-thead-item {
    background-color:white;
    height: 100px;
}
.th-item {
    padding: 2px;
    text-align: center;
    width: 100px;
}
.main-table-wrapper {
    width: 100%
}
.calander-body td:last-child {
    // background-color: #777;
    border-right: #ddd solid 2px;
    
} 
// .calander-body td:first-child {
//     background-color: #f8f3b4;
      
// }
.main-table-wrapper, .calander-body, .calander-tr , .th-item {
     border:  #ddd solid 2px;
     /* font-weight: 700; */
     position: relative;    
}
.day-td-item {
    border-left: #ddd solid 2px;
}
.day-tithi {
    height: 35%;
    padding-top:6px; 
    /* top: 7px; */
    line-height: 13px;
    text-align: left;
    font-weight: 500;
    font-size: 9px;
}

.table-day {
    color: black;
    font-size: 32px;
    font-weight: 700;
    font-family: Roboto Slab,sans-serif;
    
}
.image-next-month,.image-prev-month {
    width: 39px;
    background: white;
    border-radius: 20px;
}
.weekday {
    color: #f50057;
    font-family: tahoma,sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.font-awasome-sun {
    display: flex;
    font-size: 12px;
    padding: 5px;
    width: 100%
}
.Sunset {
    color: #8c2502;
    width: 100%;
    text-align: right;

}
.SunRise{
    color: #ff9629; 
} 
.font-awasome-moon-star {
    font-size: 12px;
}

.fa-sm-font-awasome {
    font-size: 1.875em;
}



/**************************media qurery for calander ************************************/
@media only screen and (max-width:500px) {
    .weekday {
   font-size: 18px;
//    background: #26c6da;
    }
}
/********************************  day info css **************************************/
.current-date-wrapper {
    background-color: #fff;
    width: 100%;
    border:7px solid #f5f5f5;
}
.current-date-header-wrapper {
    width: 100%;
    padding: 10px;
    
}
.day-close > a {
    font-size: 1.1em;
    font-weight: 700;
    float: right;
    color: #777;
}
.current-date-detail {
    border-bottom: #ddd solid 1px;
}
.day-detail {
    font-size: 21px;
    font-family: Roboto Slab,Times New Roman,Times,serif; 
}
.calander-current-day-number {
    background-color: #f50057;
    text-align: center;
    width: 100%;
    color: white;
    /* height: 210px */
}
/* day details csss */

.day-details-wrapper {
    /* border: 7px solid #f5f5f5; */
}

.day-item {
    background-color: #f50057;
    width: 100%;
    height: auto;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-family:  Roboto Slab,sans-serif;
}
.day-weekday {
    text-align: center;
    width: 100%;
    padding: 5px;
    font-size: 1.2em;
    
    
}
.day-date {
    width: 100%;
    font-size: 67px;
    
    padding: 0px; 
    text-align: center;
    
}

.day-year,.day-month {
    font-size: 20px; 
}
.day-row-items  {
    /* border-bottom: #ddd solid 1px; */
    padding: 5px;
    font-size: 14px;
}
.row-heading  {
    font-size: 14px;
    font-weight: bold;

}
.day-details-main {
    width: 100%;
   height: auto;
   padding: 3px;
    border:white 10px solid;
}
.day-main-heading {
    border-bottom: #ddd solid 1px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding:10px;
}
.day-panchang {
    width: 100%;
    height: auto;
    padding: 10px;
    border:2px solid #f5f5f5;
}
.font-awasome {
    // background-color: #f50057
}

